body{
    background-color: lightblue;
}

table#tb01{
    width:50%
}
table#tb01 th{
    background-color:azure;
    color:blueviolet;
}
table#tb01 tr:nth-child(even){
background-color: brown;
}
table#tb01 tr:nth-child(odd){
background-color: coral;


}
table,th,td{
    border:1px solid black;
}